[*.cs]

# CS1573: Parameter has no matching param tag in the XML comment (but other parameters do)
dotnet_diagnostic.CS1573.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none
